/* styles.css */

body {
  font-family: 'Georgia', serif;
  margin: 0;
  background: linear-gradient(to right, hsl(310, 85%, 45%), #145bcf);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.hidden {
  display: none;
}

h1, h2 {
  font-family: 'Times New Roman', Times, serif;
}

#welcome-container, #quiz-container, #leaderboard-container {
  background: #fff;
  color: #333;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

#quiz-container {
  background: url('https://upload.wikimedia.org/wikipedia/commons/e/ed/Taj_Mahal_in_India.jpg') no-repeat center center / cover;
}

button {
  margin: 10px;
  padding: 10px 20px;
  background: #5e18f4;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #ff5722;
}

#options li {
  background: #f5f5f5;
  color: #333;
  margin: 10px;
  padding: 10px;
  list-style: none;
  border-radius: 5px;
  cursor: pointer;
}

#options li.correct {
  background: green;
  color: white;
}

#options li.incorrect {
  background: red;
  color: white;
}
#username{
  height: 30px;
  border-radius: 8px;
  font-size: 14;
  background-color: rgb(255, 255, 255);
}
